.list
    &__description
        counter-reset: h2

        h2
            @apply text-xl relative flex items-center mt-8 md:text-2xl

        img
            width: 100%
            height: auto

        img + 
            h2::before
                counter-increment: h2
                content: counter(h2)
                font-size: 150px
                @apply text-secondary-500 italic -top-24 -left-8 absolute

        img
            @apply rounded-md

        p:first-of-type
            @apply my-0

        p:not(:first-child)
            @apply mb-5

        * + img
            @apply mt-8 md:mt-10

        a
            @apply text-secondary-700 underline underline-offset-2

        p + h2
            @apply mt-8 md:mt-10
