$dark-blue: #00206b
$medium-blue: #6376a0
$soft-blue: #ebf1ff
$white: #ffffff
$dark-red: #fd8281
$electric-blue: #002b8f
$background-input: #f2f7f9

@layer components
	.button
		@apply rounded-xl transition-all duration-300 ease-in-out w-full md:w-fit inline-flex items-center text-center justify-center

	.button__primary
		@apply  bg-grey-700 text-white
		&:hover
			@apply bg-primary-800 text-white

	.button__secondary
		@apply bg-white text-grey-700 border border-grey-700
		&:hover
			@apply bg-grey-700 border-grey-700 text-white

	.button__cta
		@apply bg-secondary-500 text-grey-700 font-medium
		&:hover
			@apply bg-secondary-900 text-grey-900

	.button__ghost
		@apply bg-transparent text-grey-700 border border-grey-700
		&:hover
			@apply bg-grey-700 border-grey-700 text-white
		&.active
			@apply bg-grey-700 text-white border-grey-700

.button__lg
	@apply py-4 px-6 text-16

.button__med
	@apply py-3 px-6 text-15

.button__xs
	@apply py-2 px-4 text-sm

.btn
	border-radius: 8px !important
	transition: 0.3s

.btn-m
	padding: 10px 14px !important
	font-size: 0.85em !important

.btn-dark
	border: 1px solid $electric-blue !important
	background-color: $electric-blue !important
	color: $white !important
	flex: 1

.btn-light
	color: $electric-blue !important
	background-color: $white !important
	border: 1px solid $electric-blue !important
	flex: 1

.btn-no-flex
	flex: none

.btn-no-border
	border: none !important
