.modal
    @apply hidden fixed inset-0 z-50

    &.active
        @apply flex items-center justify-center
    
    &.active::before
        content: ""
        @apply bg-primary-900 bg-opacity-80 fixed inset-0 w-full h-full

    &__wrapper
        @apply block bg-white w-11/12 lg:w-6/12 mx-auto shadow-xl  rounded-lg
        z-index: 1002
        max-height: 80vh

    &__container
        @apply w-full h-full relative z-50 border-4 border-white rounded-lg

    &__header, &__body, &__footer
        @apply p-5

    &__header
        @apply border-b border-primary-300 relative flex items-center justify-between

        span
            @apply text-xl
    
    &__body
        @apply overflow-scroll
        max-height: 60vh

    &__footer
        @apply border-t border-primary-300 flex items-center justify-end
