.listingSquareBox {
  box-shadow: 0px 8px 10px rgb(0 0 0 / 6%);
  border-radius: 8px;
  padding: 10px;
  width: 25%;
}

.listingBoxWrapper {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  min-height: 247px;
}

.listingCover {
  border-radius: 8px;
  height: 125px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.listingRatingWrapper {
  margin: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 3px 6px;
  background-color: #e5f0fd;
}

.listingRatingWrapper svg {
  margin-right: 5px;
}

.listingRating {
  font-size: 0.8em;
  font-weight: bold;
}

.listingTitle {
  font-family: "Nunito";
  font-size: 1.03em;
  font-weight: bold;
  margin: 15px 0 10px 0;
}

.listingSubtitle,
.listingLocation {
  font-size: 0.9em;
  line-height: 1.2em;
  opacity: 0.7;
  margin-bottom: 3px;
}

.listingLocation {
  display: flex;
  align-items: center;
  margin: 5px 0 0 0;
}

.listingLocation svg {
  margin-right: 3px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px -4px -4px -4px;
}
