.listingSquareBox {
  background-color: #ffffff;
  border: 1px solid #d0d7e6;
  border-radius: 8px;
  padding: 15px;
  width: 25%;
}

.listingBoxWrapper {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  min-height: 235px;
}

.listingCover {
  border-radius: 8px;
  height: 130px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.listingRatingWrapper {
  margin: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 3px 6px;
  background-color: #e5f0fd;
}

.listingRatingWrapper svg {
  margin-right: 5px;
}

.listingRating {
  font-size: 0.8em;
  background-color: #ffffff;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 8px;
  color: #00206b;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listingTitle {
  font-size: 0.95em;
  margin: 12px 0 2px 0;
}

.listingSubtitle {
  font-size: 0.85em;
  margin: 0;
}

.listingLocation {
  font-size: 0.82em;
  margin: 0;
}

.listingAdditionalInfo {
  display: flex;
  align-items: center;
  margin: 7px 0 0 0;
  font-size: 0.8em;
  color: #6376a0 !important;
}

.listingAdditionalInfo svg {
  margin-right: 3px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px -4px -4px -4px;
}
